/* Structual Elements Go Here */
body{
    background-color: #edeeef;
    color: #555;
    font-family: Lato
}
#wrapper{
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6,minmax(0,175px)) minmax(0px, 1fr);
}
nav{
    grid-column: 2/3;
    background-color: #edeeef;
}
main{
    grid-column: 3/-2;
    background-color: #fff;
    padding: 20px;
}
footer{
    grid-column: 3/-2;
    background-color: #2d5ba6;
    color: #fff;
    font-size: 0.5rem;
    padding: 20px;
    text-align: center;
}
/* Navigation Elements Go Here */
nav ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav ul li{
    width: 100%;
}
nav ul li a{
    width: 100%;
    text-decoration: none;
    color: #555;
    display: block;
    padding: 10px;
}
figcaption{
    font-style: italic;
    font-size: 0.75rem;
    float: right;
    padding-left: 10px;
    padding-top: 10px;
}
/* Styling Elements Go Here */
p{
    line-height: 1.25rem;
}
h2{
    border-bottom: #555 2px solid;
}
img, video, #homehero{
    width: 100%;
    height: auto;
}
nav a:hover{
    background-color: #fff;
    color: #d53631;
}
#homehero{  
    background-image: url(images/solarsystem.jpg);
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3/-2;
}
a{
    color:#d53631;
}
#floatright{
    float: right;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 0;
}
/* Media Query of 960 and less goes here */
@media only screen and (max-width: 960px){
    nav, main, footer{
        grid-column: 2/-2;
    }
    img, figcaption{
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        text-align: center;

    }
}


























