*{
    row-gap: 20px;
}
body{
    background: linear-gradient(to bottom, lightskyblue, orange);
}
.parent {
display: grid;
grid-template-columns: minmax(0px,0.45fr) repeat(6,minmax(0px,1fr)) minmax(0px,0.45fr);
grid-template-rows: 0.1fr 0.5fr 0.1fr 1fr 0.1fr;
word-wrap: break-word;

}

.div1 { grid-area: 1 / 1 / 8 / 1; 

}
.div2 { grid-area: 8 / 8 / 1 / 8; 
}
.div3 { grid-area: 2 / 2 / 1 / 8; 
}
.div4 { grid-area: 2 / 2 / 2 / 8; 
display: grid;
grid-template-columns:  minmax(0px, 1fr) minmax(0px, 1fr);
column-gap: 10px;
}
.div5 { grid-area: 3 / 8 / 4 / 2; 
text-align: center;
}
.div6 { grid-area: 4 / 2 / 4 / 8; 
display: grid;
grid-template-columns:  minmax(0px, 0.5fr) minmax(0px, 0.5fr);
grid-template-rows:  minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
text-align: justify;
gap: 15px;
}
.div7 { grid-area: 6 / 2 / 8 / 8; 
}
.div3 h1 {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  margin: 0;
  text-align: center;
}
.div3 h2 {
  text-align: center;
}
.div4 h3 {
    text-align: justify;
    font-size: 1.4rem;
    background-color: lightskyblue;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 7%;
    border-top-left-radius: 25%;
    border-top-right-radius: 17%;
    padding: 35px;}
    
#First{
    float: left;
    padding-left: 1rem;
    padding-top: 2rem;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 7%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
#Second{
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 7%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
#Third{
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 7%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
#Fourth{
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 7%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
.div5 h2{
    background-color: blue;
    border: 3px solid white;
    display: inline;
    padding: 7px;
    color: white;
    border-radius: 20px;
}
.blk_bor{
    padding: 25px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 7%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border: 4px solid black ;
    margin: 0;
}
.para2{
    grid-column: 2/2; grid-row: 3/3;
    background-color: orange;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 17%;
    border-top-right-radius: 9%;
    padding: 30px;
    margin: 0;
}

footer{
        font-size: 1rem;
    text-align: center;
    font-style: italic;
    padding: 1rem;
}
nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
nav ul li{
    width: 100%;
}
nav{
    font-weight: bold;
    text-decoration: none;
}
nav a{
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    gap: 1rem;
}
nav a :hover{
    background-color: orange;
    transition: background-color 0.5s ease;
}
.para2{
    flex: 1;
}
@media (max-width: 950px) {
    .div4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .para1{
        width: 100%;
    }
    .div6{
        display: flex table-column;
        gap: 7px;
    }
}
@media (max-width: 850px) {
    .div4 h3{
        font-size: 1.2rem;
    }
    .div5 h2{
        font-size: 0.9rem;
        padding: 5px;
    }
}
@media (max-width: 770px){
    img, picture{
        position:absolute;
        display: none;
    }
    .div6{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 470px){
    nav ul{
        flex-direction: column;
        gap: 0;
        border: 2px solid black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    nav ul li{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}