*{
    background-color: lightskyblue;
}
.parent {
display: grid;
grid-template-columns: minmax(0px,0.35fr) repeat(6,minmax(0px,1fr)) minmax(0px,0.35fr);
grid-template-rows: 0.1fr 0.75fr 0.1fr 1fr 0.1fr;
grid-column-gap: 0px;
grid-row-gap: 50px;
border: 2px solid black;
height: 1600px;
word-wrap: break-word;
}

.div1 { grid-area: 1 / 1 / 8 / 1; 

}
.div2 { grid-area: 8 / 8 / 1 / 8; 
}
.div3 { grid-area: 2 / 2 / 1 / 8; 
display: flex;
}
.div4 { grid-area: 2 / 2 / 2 / 8; 
display: grid;
grid-template-columns: minmax(0px, 1fr)  minmax(0px, 0.5fr);
}
.div5 { grid-area: 3 / 8 / 4 / 2; 
text-align: center;
}
.div6 { grid-area: 4 / 2 / 4 / 8; 
display: grid;
grid-template-columns:  minmax(0px, 0.5fr) minmax(0px, 0.5fr);
grid-template-rows:  minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
text-align: justify;
gap: 15px;
}
.div7 { grid-area: 6 / 2 / 8 / 8; 
}
.div3 h1 {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  margin: 0
}
.div3 h2 {
  padding-left: 7rem;
}
.div3 a{
    text-decoration: none;
    color: black;
}
.div4 h3 {
    text-align: justify;
    margin-right: 4rem;
    font-size: 1.4rem;
}
span h3{
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
}
#First{
    float: left;
    padding-left: 1rem;
    padding-top: 2rem;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 7%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
#Second{
    padding-left: 1rem;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 7%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
#Third{
    padding-left: 1rem;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 7%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
#Fourth{
    padding-left: 1rem;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 7%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}
.div5 span h2{
    background-color: blue;
    border: 3px solid white;
    display: inline;
    padding: 5px;
    color: white;
}
.blk_span{
border: 4px solid black;

}
.div6 h2{
    padding-left: 10px;
    padding-right: 10px;
}
#para3{
grid-column: 2/2; grid-row: 3/3;
background-color: peru;
border-radius: 5px;
}

footer{
        font-size: 1rem;
    text-align: center;
    font-style: italic;
    padding: 1rem;
}
@media (max-width: 992px) {
    #First, #Second, #Third, #Fourth{

    }


}
@media (max-width: 768px) {
    #First, #Second, #Third, #Fourth{
        
    }


}
